.course-card {
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  background-color: var(--bg-color-lighten);
  border-left: 3px solid var(--bg-color-lighten);
}

.course-card > .course-card-header {
  padding: 10px 0px 10px 10px;
  font-size: 1.2em;
}

.course-card > .course-card-header > .add-grade-btn {
  --fontsize: 15px;
  float: right;
  color: #dddddd;
  background-color: var(--theme);
  border: none;
  border-radius: 15px;
  font-size: var(--fontsize);
  height: calc(46px - var(--fontsize));
  margin-right: 10px;
  padding: 1px 12px;
}

.course-card > .course-card-header > .course-avg {
  float: right;
  color: var(--theme);
}

.course-card > .course-card-body {
  padding-left: 13px;
}

.course-card > .course-card-body > .grades-avg {
  float: right;
}

.modal-bg {
  position: fixed;
  backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  --border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 85%;
  margin-left: -42.5%;
  margin-top: calc(189px / -2);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}

.modal-header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  padding: 11px;
  background-color: var(--theme);
}

.modal-body {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 11px;
  border: 1px solid grey;
  border-top: none;
}

.modal-body select {
  margin: 5px;
  padding: 5px;
}

.modal-body button {
  width: 100%;
  margin: 5px 0px;
  padding: 5px 0px;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--theme);
  font-size: 1.2em;
}

.modal-body button.secundary {
  background-color: #dddddd;
  color: #333333;
}